@import "./font.css";

.font {
  font-family: 'Jomhuria Regular';
}

.centered {
  display: flex;
  justify-content: center;

  color: darkorange;
  font-size: 48px;
}

.over-garden-wall {
  width: 300px;
  height: 192px;

  background-image: url('../assets/over-garden-wall.jpeg');
  background-repeat: no-repeat;
}

.angry-aunt {
  width: 739px;
  height: 790px;

  background-image: url('../assets/angry-aunt.jpg');
  background-repeat: no-repeat;
}

